/* Variables */

:root {
  --grey-extra-light: #ededed;
  --grey-dust-light: #d7d7d7;
  --grey-semi-light: #c2c2c2;
  --grey-shadow-light: #cacac7;
  --grey-light: #999999;
  --grey-dim: #696969;
  --grey-basic: #5a5a5a;
  --grey-dark: #353535;
  --grey-extra-dark: #323232;

  --grey-blue: #8996a6;
  --grey-green-extra-light: #d3dcd7;
  --grey-green-light: #aabbb1;
  --grey-green-dust-light: #cbd4cc;
  --grey-green-semi-light: #9db1a5;
  --grey-green: #849d8f;
  --grey-brown: #9d8b84;
  --grey-pink: #a9a693;

  --white-dark: #fefefe;
  --white-basic: #ffffff;

  --pink-light: #fbded7;
  --pink-basic: #f8cac3;
  --pink-powder: #f6b5a5;
  --pink-dark: #8c2041;

  --blue-basic: #5ea3ea;

  --black-basic: #000000;

  --orange-light: #ffbc9e;
  --orange-basic: #f26843;
  --orange-dark: #e84d37;
  --orange-extra-dark: #e74a35;

  --beige-light: #f8f7f4;
  --beige-basic: #ede1c7;
  --beige-dark: #794d2d;

  --red-dark: #ac1000;

  --brick-basic: #942718;

  --transparent-black-7: rgba(0, 0, 0, 0.07);
  --transparent-black-40: rgba(0, 0, 0, 0.4);

  --transparent-white-20: rgba(255, 255, 255, 0.2);
  --transparent-white-70: rgba(255, 255, 255, 0.7);
  --transparent-white-80: rgba(255, 255, 255, 0.8);

  --transparent-red-dark-64: rgba(172, 16, 0, 0.64);
  --transparent-red-dark-25: rgba(172, 16, 0, 0.25);

  --transparent-red-extra-dark-54: rgba(85, 8, 0, 0.54);

  --transparent-scarlet-dark-76: rgba(160, 32, 11, 0.76);
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--white-basic);
  background-color: var(--grey-green);
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 27px;
  margin: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.main-header {
  display: grid;
  margin-top: -19px;
  margin-bottom: -35px;
  grid-template-columns: auto 1fr 1fr;
  z-index: 1;
}

/* Navigation */

.main-navigation {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-right: 24px;
}

.site-navigation,
.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.site-navigation {
  position: relative;
  line-height: 18px;
  font-weight: 700;
}

.catalog-button-wrapper {
  background-color: transparent;
  padding-bottom: 10px;
}

.catalog-navigation {
  display: none;
  position: absolute;
  top: 35px;
  left: -6px;
  min-width: 143px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  list-style: none;
  background-color: var(--white-basic);
  box-shadow: 0px 20px 20px var(--transparent-black-40);
}

.catalog-navigation-button:hover .catalog-navigation {
  display: block;
}

ul.catalog-navigation a  {
  display: block;
  padding-left: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: var(--grey-extra-dark);
  text-decoration: none;
}

.catalog-navigation .catalog-special {
  padding-top: 14px;
  padding-bottom: 13px;
  line-height: 18px;
  font-weight: 700;
}

.catalog-navigation li:first-child::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 6px;
  width: 90%;
  height: 1px;
  background-color: var(--grey-extra-dark);
  opacity: 0.2;
}

ul.catalog-navigation a:hover,
ul.catalog-navigation a:focus {
  border-radius: 0px;
  background-color: var(--pink-light);
}

ul.catalog-navigation a:active {
  border-radius: 0px;
  background-color: var(--pink-powder);
  box-shadow: none;
}

ul.catalog-navigation a:not([href]) {
  border-radius: 0px;
}

.user-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.site-navigation a,
.user-navigation a {
  color: var(--white-basic);
  text-decoration-color: var(--transparent-white-20);
}

.site-navigation a {
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 11px;
  padding-left: 13px;
  border-radius: 26px;
}

.user-navigation a {
  margin-left: 10px;
  text-decoration: none;
  background-color: var(--transparent-white-20);
}

.search-button {
  padding-top: 10px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 8px;
  border-radius: 50%;;
}

.enter-button,
.cart-button {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 20px;
}

.enter-button svg,
.cart-button svg {
  margin-right: 8px;
}

a.full-cart-button {
  color: var(--grey-extra-dark);
  background-color: var(--white-basic);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--grey-extra-dark);
  background-color: var(--white-basic);
  text-decoration: none;
}

.site-navigation a:active {
  color: var(--grey-extra-dark);
  background-color: var(--grey-extra-light);
  box-shadow: inset 0px 2px 1px var(--grey-dim);
}

.site-navigation a:not([href]) {
  background-color: var(--orange-basic);
  color: var(--white-basic);
}

.user-navigation-button:hover:not(.full-cart-button) path,
.user-navigation-button:focus:not(.full-cart-button) path {
  fill: var(--grey-extra-dark);
}

.enter-button:hover,
.enter-button:active,
.cart-button:hover,
.cart-button:active {
  color: var(--grey-extra-dark);
}

.search {
  position: relative;
}

/* Pop-ups */

.search-popup,
.login-popup,
.cart-popup {
  display: none;
  position: absolute;
  border: none;
  border-radius: 4px;
  background-color: var(--beige-light);
  box-shadow: 0px 20px 20px var(--transparent-black-40);
  z-index: 2;
}

.search-popup {
  right: 0px;
  top: 30px;
  width: 341px;
  height: 84px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
}

.search-popup input,
.login-popup input {
  height: 44px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: var(--grey-extra-dark);
  border: 1px solid var(--grey-dust-light);
  border-radius: 4px;
}

.search-popup input::placeholder,
.login-popup input::placeholder {
  font-weight: 400;
  color: var(--grey-light);
}

.search-popup input:hover,
.login-popup input:hover {
  box-shadow: 0 0 0 1px var(--grey-dust-light);
}

.search-popup input:focus,
.login-popup input:focus {
  box-shadow: 0 0 0 1px var(--blue-basic);
  border: 1px solid var(--blue-basic);
  outline: none;
}

.search-popup input {
  width: 311px;
}

.login-popup {
  width: 277px;
  height: 214px;
  right: 231px;
  top: 83px;
  padding-top: 20px;
  padding-right: 17px;
  padding-bottom: 20px;
  padding-left: 19px;
}

.login-popup form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-popup input {
  width: 241px;
  margin: 0px;
}

.login-button-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button.login-button {
  padding-top: 15px;
  padding-right: 26px;
  padding-bottom: 15px;
  padding-left: 25px;
  line-height: 16px;
  border-radius: 26px;
  box-shadow: 0px 1px 2px var(--transparent-red-dark-25);
}

button.login-button:hover,
button.login-button:focus {
  box-shadow: 0px 1px 2px var(--red-dark);
}

button.login-button:active {
  box-shadow: inset 0px 2px 2px var(--brick-basic);
}

.login-links {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: left;
}

.login-links a {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: var(--grey-extra-dark);
  text-decoration: underline;
  text-decoration-color: var(--grey-semi-light);
}

.login-links a:hover,
.login-links a:focus,
.login-links a:active {
  color: var(--orange-dark);
  text-decoration: underline;
  text-decoration-color: var(--pink-basic);
  background-color: transparent;
}

.cart-popup {
  position: absolute;
  display: none;
  padding-top: 20px;
  padding-right: 14px;
  padding-bottom: 21px;
  padding-left: 15px;
  color: var(--grey-extra-dark);
}

.cart-empty {
  justify-content: center;
  align-items: center;
  right: 125px;
  top: 83px;
  width: 140px;
  height:70px;
}

.cart-full {
  flex-direction: column;
  right: 69px;
  top: 83px;
}

.cart-table {
  align-self: stretch;
  display: table;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  border-collapse: collapse;
}

.cart-table td {
  padding-bottom: 18px;
}

.cart-table tr:nth-last-of-type(2) {
  border-bottom: 1px solid var(--grey-shadow-light);
}

.cart-delete-item {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 9px;
  margin-left: 9px;
  background-image: url("../img/icon-x-small.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.cart-ice-image {
  margin-right: 13px;
  border-radius: 50%;
}

.cart-ice-name {
  width: 256px;
  padding-right: 31px;
  text-align: left;
}

.cart-ice-calculate,
.cart-ice-sum {
  padding-right: 26px;
  color: var(--black-basic);
}

.cart-ice-price {
  color: var(--grey-semi-light);
}

.cart-total {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 700;
  text-align: right;
}

a.checkout-button {
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 13px;
  align-self: flex-end;
  line-height: 16px;
  border-radius: 26px;
  box-shadow: 0px 1px 2px var(--transparent-red-dark-25);
}

a.checkout-button:hover,
a.checkout-button:focus {
  color: var(--white-basic);
  box-shadow: 0px 1px 2px var(--red-dark);
}

a.checkout-button:active {
  box-shadow: inset 0px 2px 2px var(--brick-basic);
}

/* Pop-up appearance */

.search-button:hover + .search-popup {
  display: block;
}

/* Breadcrumbs */

.additional-navigation {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: end;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 8px;
}

.breadcrumbs li:not(:last-child)::after {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: 8px;
  background-image: url("../img/icon-breadcrumps-arrow.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: var(--white-basic);
  text-decoration-color: var(--grey-green-light);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: var(--orange-light);
  text-decoration-color: var(--grey-pink);
}

.breadcrumbs a:not([href]) {
  color: var(--white-basic);
  text-decoration: none;
}

/* Contacts */

.contacts {
  grid-column-start: 3;
  grid-column-end: 4;
  font-weight: 700;
  text-align: right;
}

.working-hours {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
}

.phone {
  color: var(--white-basic);
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

/* Main */

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
}

/* Heading */

.main-heading {
  margin: 0;
  margin-top: -19px;
  margin-bottom: 29px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* Slider */

.slides {
  margin: 0px;
  margin-top: -146px;
  padding: 0px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-1 {
  display: flex;
}

.slide-2 {
  display: none;
}

.slide-3 {
  display: none;
}

.slide-name {
  margin-top: -550px;
  padding-left: 185px;
  padding-right: 185px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

a.slide-button {
  margin-top: -40px;
  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 5px var(--transparent-scarlet-dark-76);
}

.slider input {
  display: none;
}

.slider-buttons {
  position: absolute;
  top: 540px;
  display: flex;
  z-index: 1;
}

.slider-buttons label {
  width: 21px;
  height: 21px;
  border: 2px solid var(--white-basic);
  border-radius: 50%;
  background-color: var(--transparent-white-20);
}

.slider-buttons label:not(:last-child) {
  margin-right: 8px;
}

.slider-buttons label:hover {
  background-color: transparent;
}

.slider input:first-of-type:checked ~ .slider-buttons label[for="slider-button-1"],
.slider input:nth-of-type(2):checked ~ .slider-buttons label[for="slider-button-2"],
.slider input:nth-of-type(3):checked ~ .slider-buttons label[for="slider-button-3"] {
  background-color: var(--white-basic)
}

.slider input:first-of-type:checked ~  .slides .slide-1 {
  display: flex;
}

.slider input:first-of-type:checked ~ .slides .slide-2,
.slider input:first-of-type:checked ~ .slides .slide-3 {
  display: none;
}

.slider input:nth-of-type(2):checked ~ .slides .slide-2 {
  display: flex;
}

.slider input:nth-of-type(2):checked ~ .slides .slide-2::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--grey-blue);
  z-index: -2;
}

.slider input:nth-of-type(2):checked ~ .slides .slide-1,
.slider input:nth-of-type(2):checked ~ .slides .slide-3 {
  display: none;
}

.slider input:nth-of-type(3):checked ~ .slides .slide-3 {
  display: flex;
}

.slider input:nth-of-type(3):checked ~ .slides .slide-3::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--grey-brown);
  z-index: -2;
}

.slider input:nth-of-type(3):checked ~ .slides .slide-1,
.slider input:nth-of-type(3):checked ~ .slides .slide-2 {
  display: none;
}

/* Promos */

.promos {
  width: 1146px;
  display: flex;
  justify-content: space-between;
}

.promo-1,
.promo-2 {
  width: 560px;
  min-height: 229px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  padding-right: 30px;
  padding-left: 16px;
  padding-bottom: 22px;
  border-radius: 16px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-1 {
  background-color: var(--pink-dark);
  background-image: url("../img/background-raspberry.jpg");
}

.promo-2 {
  background-color: var(--beige-dark);
  background-image: url("../img/background-chocolate.jpg");
}

.promo-heading {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo-description {
  font-size: 18px;
  font-weight: 700;
}

a.promo-button {
  align-self: flex-end;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 26px;
  box-shadow: 0px 2px 2px var(--transparent-red-extra-dark-54);
}

a.promo-button {
  box-shadow: 0px 1px 2px var(--red-dark);
}

/* About us */

.about-us {
  width: 1146px;
  padding-top: 24px;
  padding-right: 23px;
  padding-left: 20px;
  padding-bottom: 35px;
  border-radius: 16px;
  color: var(--grey-extra-dark);
  background-color: var(--beige-basic);
  background-image: url("../img/background-waffle.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.about-us p {
  margin: 0;
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-us ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.our-advantages {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 33px;
  column-gap: 26px;
}

.our-advantages li {
  padding-left: 53px
}

.advantage-ice::before,
.advantage-cow::before,
.advantage-eco::before,
.advantage-cold::before {
  content: "";
  width: 49px;
  height: 49px;
  position: absolute;
  border: 2px solid var(--grey-extra-dark);
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.advantage-ice::before {
  top: -10px;
  left: -4px;
  background-image: url("../img/icon-icecream.svg");
}

.advantage-cow::before {
  top: -10px;
  left: 560px;
  background-image: url("../img/icon-cow.svg");
}

.advantage-eco::before {
  top: 90px;
  left: -4px;
  background-image: url("../img/icon-leaf.svg");
}

.advantage-cold::before {
  top: 90px;
  left: 560px;
  background-image: url("../img/icon-thermometer.svg");
}

/* Additional information */

.additional-info {
  display: flex;
  justify-content: space-between;
  width: 1146px;
}

.blog-news,
.subscribe {
  width: 560px;
  min-height: 220px;
  border-radius: 16px;
}

/* Blog */

.blog-news {
  padding-left: 20px;
  padding-right: 253px;
  color: var(--grey-extra-dark);
  background-color: var(--white-basic);
  background-image: url("../img/background-strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog-news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--grey-extra-dark);
  text-decoration-color: var(--grey-semi-light);
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: var(--orange-dark);
  text-decoration-color: var(--pink-basic);
}

/* Subscribe */

.subscribe {
  display: flex;
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-left: 6px;
  color: var(--grey-basic);
  background-color: var(--beige-light);
  background-image: url("../img/background-post.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.subscribe-insole {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 16px;
  padding-bottom: 36px;
  padding-left: 20px;
  background-color: var(--beige-light);
  border-radius: 16px;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
}

.subscribe-form input {
  width: 368px;
  height: 44px;
  padding-top: 15px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  font: inherit;
  line-height: 24px;
  font-weight: 700;
  color: var(--grey-extra-dark);
  border: 1px solid var(--grey-dust-light);
  border-radius: 6px;
}

.subscribe-form input::placeholder {
  font-weight: 400;
  color: var(--grey-light);
}

.subscribe-form input:hover {
  box-shadow: 0 0 0 1px var(--grey-dust-light);
}

.subscribe-form input:focus {
  box-shadow: 0 0 0 1px var(--blue-basic);
  border: 1px solid var(--blue-basic);
  outline: none;
}

.button {
  padding-top: 15px;
  padding-right: 22px;
  padding-bottom: 16px;
  padding-left: 22px;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: var(--white-basic);
  vertical-align: middle;
  background: linear-gradient(180deg, var(--orange-basic) 0%, var(--orange-extra-dark) 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 2px var(--transparent-red-dark-64);
  text-decoration: none;
}

.button:hover,
.button:focus {
  background:
    linear-gradient(0deg, var(--transparent-white-20) 0%, var(--transparent-white-20) 100%),
    linear-gradient(to bottom, var(--orange-basic) 0%, var(--orange-extra-dark) 100%);
  outline: none;
  box-shadow: 0px 2px 2px var(--red-dark);
}

.button:active {
  background:
    linear-gradient(0deg, var(--transparent-black-7) 0%, var(--transparent-black-7) 100%),
    linear-gradient(180deg, var(--orange-basic) 0%, var(--orange-extra-dark) 100%);
  box-shadow: inset 0px 2px 2px var(--brick-basic);
}

.subscribe-button {
  padding-top: 10px;
  padding-right: 19px;
  padding-bottom: 10px;
  padding-left: 19px;
}

/* Map & Contact us */

.maps-contacts {
  position: relative;
}

.map-interactive {
  width: 100%;
  border: none;
}

.map-static {
  position: absolute;
  top: 0;
  left: 27px;
  z-index: -1;
}

.contact-us {
  position: absolute;
  top: 62px;
  right: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 303px;
  height: 306px;
  padding-top: 32px;
  padding-left: 25px;
  color: var(--grey-extra-dark);
  border-radius: 16px;
  background-color: var(--white-dark);
}

.contact-us h3,
.contact-us p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contact-us-address p,
.contact-us-phone a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact-us-phone a {
  color: var(--grey-extra-dark);
  text-decoration: none;
}

.contact-us-button {
  align-self: center;
  padding-top: 13px;
  padding-right: 27px;
  padding-bottom: 13px;
  padding-left: 27px;
}

/* Filter & Sorting */

.filter-sorting {
  width: 869px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 40px;
  line-height: 16px;
  font-weight: 500;
}

.filter-sorting fieldset {
  border: none;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 14px;
  padding: 0;
}

.filter-sorting legend,
.sorting legend {
  display: block;
  margin-bottom: 7px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sorting,
.filter,
.button-form {
  line-height: 18px;
  border-radius: 20px;
  color: var(--white-basic);
  background-color: var(--grey-green-semi-light);
}

.selectContainer {
  position: relative;
  overflow-x: hidden;
  border-radius: 26px;
}

.selectContainer::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 145px;
  width: 36px;
  height: 36px;
  background-image: url("../img/icon-arrow-down-closed.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.sorting {
  width: 160%;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 15px;
  font-weight: 500;
  border: none;
}

.sorting:hover,
.sorting:focus {
  color: var(--grey-extra-dark);
}

.selectContainer:hover::before,
.selectContainer:focus::before {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 10L0 0h11' fill='%23323232'/%3E%3C/svg%3E");
}

.selectContainer:hover .sorting {
  color: var(--grey-extra-dark);
}

.range {
  position: relative;
  width: 218px;
  height: 36px;
}

.range-pin {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 8px solid var(--white-basic);
  border-radius: 50%;
  color: var(--white-basic);
  background-color: var(--grey-light);
}

.range-pin-max {
  left: 141px;;
}

.range-pin-min {
  left: 39px;
}

.range::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 24px;
  width: 176px;
  height: 2px;
  background-color: var(--grey-green-dust-light);
}

.range::after {
  content: "";
  position: absolute;
  top: 17px;
  left: 56px;
  width: 92px;
  height: 2px;
  background-color: var(--beige-light);

}

.filter {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  list-style: none;
}

.filter-fat,
.filter-filler {
  display: flex;
}

.filter-filler {
  margin-bottom: -14px;
}

.filter label {
  position: relative;
  display: block;
  cursor: pointer;
}

.filter-fat label {
  margin-right: 24px;
  margin-left: 27px;
}

.filter-fat label::before,
.filter-filler label::before,
.filter-fat-radio:checked + label::before,
.filter-filler-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -2px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-fat label::before {
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-radiobutton-off.svg");
}

.filter-fat label:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 3.52A7.48 7.48 0 113.52 11 7.489 7.489 0 0111 3.52zM11 0a11 11 0 100 22 11 11 0 000-22z' fill='%23fff' fill-opacity='1'/%3E%3C/svg%3E");
}

.filter-fat-radio:checked + label::before {
  background-image: url("../img/icon-radiobutton-on.svg");
}

.filter-fat-radio:checked + label:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 3.52A7.48 7.48 0 113.52 11 7.489 7.489 0 0111 3.52zM11 0a11 11 0 100 22 11 11 0 000-22z' fill='%23fff' fill-opacity='1'/%3E%3Cpath d='M11 14.96a3.96 3.96 0 100-7.92 3.96 3.96 0 000 7.92z' fill='%23fff' fill-opacity='1'/%3E%3C/svg%3E");
}

.filter-filler label {
  margin-left: 31px;
  margin-right: 20px;
}

.filter-filler label::before {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-checkbox-off.svg");
}

.filter-filler label:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.391 1.74a.87.87 0 01.87.869V17.39a.87.87 0 01-.87.87H2.61a.87.87 0 01-.87-.87V2.61a.87.87 0 01.87-.87H17.39zm0-1.74H2.61A2.609 2.609 0 000 2.609V17.39A2.609 2.609 0 002.609 20H17.39A2.608 2.608 0 0020 17.391V2.61A2.608 2.608 0 0017.391 0z' fill='%23fff' fill-opacity='1'/%3E%3C/svg%3E");
}

.filter-filler-checkbox:checked + label::before {
  width: 24px;
  background-image: url("../img/icon-checkbox-on.svg");
}

.filter-filler-checkbox:checked + label:hover::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.686 6.513L4.09 8.965l7.135 6.774L24 3.626l-2.595-2.46-10.18 9.651-4.54-4.304z' fill='%23fff' fill-opacity='1'/%3E%3Cpath d='M19.259 17.391c0 .23-.097.452-.269.615a.943.943 0 01-.648.255H2.752a.943.943 0 01-.65-.255.847.847 0 01-.268-.615V2.61c0-.23.097-.452.269-.615a.943.943 0 01.648-.255H18.26L19.71.357A2.867 2.867 0 0018.341 0H2.752c-.73 0-1.43.275-1.946.764A2.542 2.542 0 000 2.61V17.39c0 .692.29 1.356.806 1.845A2.83 2.83 0 002.75 20h15.59c.73 0 1.43-.275 1.946-.764.516-.49.806-1.153.806-1.845V8.843l-1.834 1.74v6.808z' fill='%23fff' fill-opacity='1'/%3E%3C/svg%3E");
}

.button-form {
  width: 144px;
  height: 36px;
  border: 2px solid var(--white-basic);
}

.button-form:hover,
.button-form:focus {
  color: var(--grey-extra-dark);
  background-color: var(--white-basic);
}

/* Catalog */

.icecream-list {
  width: 1146px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  align-items: start;
  list-style: none;
}

.icecream-item {
  position: relative;
  padding-top: 6px;
  padding-right: 13px;
  padding-left: 13px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icecream-item:hover {
  background-color: var(--transparent-white-20);
}

.icecream-item:hover .catalog-button-wrapper {
  display: flex;
}

.icecream-price {
  align-self: flex-start;
  margin-top: -134px;
  margin-bottom: 82px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.icecream-price span {
  font-size: 30px;
  line-height: 35px;
}

.icecream-name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}

.icecream-image {
  border-radius: 50%;
}

.icecream-url {
  color: var(--white-basic);
  text-decoration-color: var(--grey-green-light);
}

.icecream-url:hover,
.icecream-url:focus,
.icecream-url:active {
  color: var(--orange-light);
  text-decoration-color: var(--grey-pink);
}

.catalog-button-wrapper {
  display: none;
  position: absolute;
  justify-content: center;
  top: 100%;
  width: 100%;
  height: auto;
  background-color: var(--transparent-white-20);
  z-index: 1;
}

.catalog-button {
  margin-bottom: 21px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}

.icecream-item-hit {
  position: relative;
}

.icecream-item-hit::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 13px;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: var(--white-basic);
  background-image: url("../img/icon-hit.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  margin-top: 80px;
  padding: 0;
}

.pagination li{
  padding-right: 2px;
}

.pagination a {
  display: inline-block;
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  color: var(--white-basic);
  border-radius: 50%;
  text-decoration: none;
}

.pagination li:first-child,
.pagination li:last-child {
  background-repeat: no-repeat;
}

.pagination li:first-child {
  background-image: url("../img/icon-arrow-left.svg");
  background-position: 0 9px;
}

.pagination li:last-child {
  background-image: url("../img/icon-arrow-right.svg");
  background-position: 3px 9px;
}

.page-number:hover,
.page-number:focus {
  background-color: var(--transparent-white-20);
}

.page-number:active,
.page-number:not([href]) {
  color: var(--grey-extra-dark);
  background-color: var(--white-basic);
}

.page-back:not([href]),
.page-next:not([href]) {
  color: var(--transparent-white-20);
}

/* Footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer a {
  color: var(--white-basic);
  text-decoration-color: var(--transparent-white-20);
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
  color: var(--orange-light);
  text-decoration-color: var(--grey-pink);
}

/* Social */

.social-list {
  width: 164px;
  display: flex;
  justify-content: space-between;
}

.social-button:hover path,
.social-button:focus path {
  fill-opacity: 1;
}

.social-button:active path {
  fill-opacity: 1;
  stroke-opacity: 0.7;
}

.instagram-button:hover g {
  opacity: 1;
}
/* About company */

.about-company-list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  font-size: 13px;
}

.about-company-list li:first-child::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -23px;
  width: 15px;
  height: 13px;
  background-image: url("../img/icon-heart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* Powered-by */

.powered-by {
  position: relative;
}

.powered-by p {
  margin-top: 27px;
  font-size: 12px;
  vertical-align: bottom;
}

.powered-by p::before {
  content: "";
  position: absolute;
  top: -15px;
  width: 108px;
  height: 39px;
  background-image: url("../img/logo-academy.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* Callback modal */

.callback {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  padding-top: 20px;
  padding-right: 25px;
  padding-bottom: 27px;
  padding-left: 24px;
  color: var(--grey-extra-dark);
  border-radius: 6px;
  background-color: var(--beige-light);
  transform: translate(-50%, -50%);
  z-index: 2;
}

.callback form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.callback p {
  margin: 0;
  margin-bottom: 20px;
}

.callback-phrase {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.callback-name,
.callback-email,
.callback-message {
  padding-top: 16px;
  padding-left: 14px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--grey-extra-dark);
  border: 1px solid var(--grey-dust-light);
  border-radius: 4px;
}

.callback-name::placeholder,
.callback-email::placeholder,
.callback-message::placeholder {
  font-weight: 400;
  color: var(--grey-light);
}

.callback-name,
.callback-email {
  width: 267px;
  height: 44px;
  padding-bottom: 16px;
}

.callback-message {
  width: 428px;
  height: 154px;
}

.callback-name:hover,
.callback-email:hover,
.callback-message:hover {
  box-shadow: 0 0 0 1px var(--grey-dust-light);
}

.callback-name:focus,
.callback-email:focus,
.callback-message:focus {
  box-shadow: 0 0 0 1px var(--blue-basic);
  border: 1px solid var(--blue-basic);
  outline: none;
}

.callback-button {
  align-self: flex-end;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 13px;
  padding-left: 24px;
  border-radius: 70px;
}

.reset-button {
  position: absolute;
  top: 16px;
  left: 448px;
  width: 18px;
  height: 17px;
  border: none;
  background-image: url("../img/icon-X-big.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
