/* Variables */

:root {
  --grey-extra-light: #ededed;
  --grey-semi-light: #c2c2c2;
  --grey-light: #999999;
  --grey-basic: #5a5a5a;
  --grey-dark: #353535;
  --grey-extra-dark: #323232;

  --grey-blue: #8996a6;
  --grey-green-extra-light: #d3dcd7;
  --grey-green-light: #aabbb1;
  --grey-green-semi-light: #9db1a5;
  --grey-green: #849d8f;
  --grey-brown: #9d8b84;
  --grey-pink: #a9a693;

  --white-dark: #fefefe;
  --white-basic: #ffffff;

  --pink-basic: #f8cac3;
  --pink-dark: #8c2041;

  --blue-basic: #5ea3ea;

  --orange-light: #ffbc9e;
  --orange-basic: #f26843;
  --orange-dark: #e84d37;
  --orange-extra-dark: #e74a35;

  --beige-light: #f8f7f4;
  --beige-basic: #ede1c7;
  --beige-dark: #794d2d;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--white-basic);
  background-color: var(--grey-green);
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding: 27px;
  margin: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.main-header {
  width: 1200px;
  display: grid;
  grid-template-columns: 205px 1fr;
}

/* Navigation */

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 24px;
}

.site-navigation,
.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.site-navigation {
  justify-content: space-between;
  line-height: 18px;
  font-weight: 700;
}

.catalog-navigation {
  display: none;
  margin: 0;
  padding: 0;
}

.user-navigation {
  width: 244px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.site-navigation a,
.user-navigation a {
  color: var(--white-basic);
  text-decoration-color: var(--grey-green-light);
}

.site-navigation a {
  padding-top: 9px;
  padding-right: 13px;
  padding-bottom: 11px;
  padding-left: 13px;
  border-radius: 26px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--grey-extra-dark);
  background-color: var(--white-basic);
  text-decoration: none;
}

.site-navigation a:active {
  color: var(--grey-extra-dark);
  background-color: var(--grey-extra-light)
}

.site-navigation a:not([href]) {
  background-color: var(--orange-basic);
  color: var(--white-basic);
}

/* Pop-ups */

.search-popup {
  display: none;
}

.login-popup {
  display: none;
}

.cart-popup {
  display: none;
}

/* Contacts */

.contacts {
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: 700;
  text-align: right;
}

.working-hours {
  font-size: 14px;
  line-height: 16px;
}

.phone {
  color: var(--white-basic);
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li:not(:last-child) {
  padding-right: 22px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: var(--white-basic);
  text-decoration-color: var(--grey-green-light);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: var(--orange-light);
  text-decoration-color: var(--grey-pink);
}

.breadcrumbs a:not([href]) {
  color: var(--white-basic);
  text-decoration: none;
}

/* Main */

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 40px;
}

/* Heading */

.main-heading {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

/* Slider */

.slider-wrapper {
  width: 1200px;
  overflow: hidden;
}

.slides {
  width: 300%;
  display: flex;
  margin-left: -27px;
  padding: 0;
  list-style: none;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-name {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

a.slide-button {
  font-size: 32px;
  line-height: 44px;
}

.slider input {
  display: none;
}

.slider-buttons {
  position: absolute;
  top: 1200px;
  display: flex;
  z-index: 1;
}

.slider-buttons label {
  width: 21px;
  height: 21px;
  border: 2px solid var(--white-basic);
  border-radius: 50%;
  background-color: var(--grey-green);
}

.slider-buttons label:not(:last-child) {
  margin-right: 8px;
}

.slider-buttons label:hover {
  background-color: transparent;
}

.slider input:first-of-type:checked ~ .slider-buttons label[for="slider-button-1"],
.slider input:nth-of-type(2):checked ~ .slider-buttons label[for="slider-button-2"],
.slider input:nth-of-type(3):checked ~ .slider-buttons label[for="slider-button-3"] {
  background-color: var(--white-basic)
}

.slider input:first-of-type:checked ~ .slider-wrapper .slides {
  transform: translate(0);
}

.slider input:nth-of-type(2):checked ~ .slider-wrapper .slides {
  transform: translate(-1200px);
}

.slider input:nth-of-type(3):checked ~ .slider-wrapper .slides {
  transform: translate(-2400px);
}

/* Promos */

.promos {
  width: 1146px;
  display: flex;
  justify-content: space-between;
}

.promo-1,
.promo-2 {
  width: 560px;
  min-height: 229px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  padding-right: 30px;
  padding-left: 16px;
  padding-bottom: 22px;
  border-radius: 16px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.promo-1 {
  background-color: var(--pink-dark);
  background-image: url("../img/background-raspberry.jpg");
}

.promo-2 {
  background-color: var(--beige-dark);
  background-image: url("../img/background-chocolate.jpg");
}

.promo-heading {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promo-description {
  font-size: 18px;
  font-weight: 700;
}

.promo-button {
  align-self: flex-end;
}

/* About us */

.about-us {
  width: 1146px;
  padding-top: 24px;
  padding-right: 23px;
  padding-left: 20px;
  padding-bottom: 35px;
  border-radius: 16px;
  color: var(--grey-extra-dark);
  background-color: var(--beige-basic);
  background-image: url("../img/background-waffle.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.about-us p {
  margin: 0;
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-us ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.our-advantages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 33px;
  column-gap: 26px;
}

.our-advantages li {
  padding-left: 49px
}

/* Additional information */

.additional-info {
  display: flex;
  justify-content: space-between;
  width: 1146px;
}

.blog-news,
.subscribe {
  width: 560px;
  min-height: 220px;
  border-radius: 16px;
}

/* Blog */

.blog-news {
  padding-left: 20px;
  padding-right: 253px;
  color: var(--grey-extra-dark);
  background-color: var(--white-basic);
  background-image: url("../img/background-strawberry.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.blog-news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--grey-extra-dark);
  text-decoration-color: var(--grey-semi-light);
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
  color: var(--orange-dark);
  text-decoration-color: var(--pink-basic);
}

/* Subscribe */

.subscribe {
  display: flex;
  padding-top: 5px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-left: 6px;
  color: var(--grey-basic);
  background-color: var(--beige-light);
  background-image: url("../img/background-post.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.subscribe-insole {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 16px;
  padding-bottom: 36px;
  padding-left: 20px;
  background-color: var(--beige-light);
  border-radius: 16px;
}

.subscribe-form input {
  width: 368px;
  height: 44px;
  padding-top: 15px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  font: inherit;
  line-height: 24px;
  color: var(--grey-light);
  border: 1px solid var(--grey-semi-light);
  border-radius: 6px;
}

.subscribe-form input:focus {
  color: var(--grey-extra-dark);
  font-weight: 700;
  border-color: var(--blue-basic);
}

.button {
  padding-top: 14px;
  padding-right: 19px;
  padding-bottom: 13px;
  padding-left: 19px;
  font: inherit;
  text-align: center;
  color: var(--white-basic);
  vertical-align: middle;
  background-color: var(--orange-extra-dark);
  border: none;
  border-radius: 70px;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: var(--orange-basic);
  outline: none;
}

.button:active {
  background-color: var(--orange-extra-dark);
}

/* Map & Contact us */

.maps-contacts {
  position: relative;
}

.map-interactive {
  width: 100%;
  border: none;
}

.map-static {
  position: absolute;
  top: 0;
  left: 27px;
  z-index: -1;
}

.contact-us {
  position: absolute;
  top: 62px;
  right: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 303px;
  height: 306px;
  padding-top: 32px;
  padding-left: 25px;
  color: var(--grey-extra-dark);
  border-radius: 16px;
  background-color: var(--white-dark);
}

.contact-us h3,
.contact-us p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.contact-us-address p,
.contact-us-phone a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact-us-phone a {
  color: var(--grey-extra-dark);
  text-decoration: none;
}

.contact-us-button {
  align-self: center;
  padding-right: 28px;
  padding-left: 28px;
}

/* Filter & Sorting */

.filter-sorting {
  width: 869px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 40px;
  line-height: 16px;
  font-weight: 500;
}

.filter-sorting fieldset {
  border: none;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 14px;
  padding: 0;
}

.filter-sorting legend,
.sorting legend {
  display: block;
  margin-bottom: 7px;
  margin-left: 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sorting,
.filter,
.button-form {
  line-height: 18px;
  border-radius: 20px;
  color: var(--white-basic);
  background-color: var(--grey-green-semi-light);
}

.sorting {
  border: none;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 15px;
}

.range {
  position: relative;
  width: 218px;
  height: 36px;
}

.range-pin {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 8px solid var(--white-basic);
  border-radius: 50%;
  color: var(--white-basic);
  background-color: var(--grey-light);
}

.range-pin-max {
  left: 50px;
}

.filter {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  list-style: none;
}

.filter-filler {
  margin-bottom: -14px;
}

.filter label {
  display: inline-block;
}

.filter-fat label {
  margin-right: 10px;
  margin-left: 8px;
}

.filter-filler label {
  margin-left: 8px;
  margin-right: 10px;
}

.sorting:hover,
.sorting:focus {
  color: var(--grey-extra-dark);
}

.button-form {
  width: 144px;
  height: 36px;
  border: 2px solid var(--white-basic);
}

.button-form:hover,
.button-form:focus {
  color: var(--grey-extra-dark);
  background-color: var(--white-basic);
}

.filter-fat,
.filter-filler {
  display: flex;
}

.filter-fat li:not(:last-child),
.filter-filler li:not(:last-child) {
  margin-right: 19px;
}

/* Catalog */

.icecream-list {
  width: 1200px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  align-items: start;
  list-style: none;
}

.icecream-item {
  width: 267px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icecream-price {
  align-self: flex-start;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.icecream-price span {
  font-size: 30px;
  line-height: 35px;
}

.icecream-name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}

.icecream-image {
  border-radius: 50%;
}

.icecream-url {
  color: var(--white-basic);
  text-decoration-color: var(--grey-green-light);
}

.icecream-url:hover,
.icecream-url:focus,
.icecream-url:active {
  color: var(--orange-light);
  text-decoration-color: var(--grey-pink);
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination li{
  padding-right: 20px;
}

.pagination a {
  color: var(--white-basic);
  text-decoration: none;
}

.page-number:hover,
.page-number:focus {
  background-color: var(--grey-green-semi-light);
}

.page-number:active,
.page-number:not([href]) {
  color: var(--grey-extra-dark);
  background-color: var(--white-basic);
}

.page-back:not([href]),
.page-next:not([href]) {
  color: var(--grey-green-semi-light);
}

/* Footer */

.main-footer {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
}

.main-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer a {
  color: var(--white-basic);
  text-decoration-color: var(--grey-green-light);
}

.main-footer a:hover,
.main-footer a:focus,
.main-footer a:active {
  color: var(--orange-light);
  text-decoration-color: var(--grey-pink);
}

/* Social */

.social-list {
  width: 164px;
  display: flex;
  justify-content: space-between;
}

/* About company */

.about-company-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 11px;
  font-size: 13px;
}

/* Powered-by */

.powered-by {
  font-size: 12px;
  vertical-align: bottom;
}

/* Callback modal */

.callback {
  display: none;
}
